*,
*::before,
*::after{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hind:wght@400;500&family=Philosopher&display=swap');

body {

   background-image: url('images/background_project.png');
   color: aliceblue;
   font-family:'Aclonica', sans-serif;
   
}

header {
    padding: 1em;
    display: grid;
    grid-template-columns: 5em auto 4em;


    .logo{
        /* margin-top: 1em; */
        width: 7vw;
        height: auto;
        
    }
    .notify{
        margin-top: 0.5em;
        
    }
    .notify:hover{
        align-items: center;
        .notification{
            transform: scale(1.2);
            align-items: center;
        }
    }
    
    
    .nav_list{
        display : flex;
        margin : 0;
        margin-top: 1em;
        padding: 0;
        padding-left: 30vw;
        list-style: none;
        letter-spacing: 1px;
        justify-content: flex-end;
    
    }
    .nav_link{
        text-decoration: none;
        color: inherit;
        padding-right: 20px;
    }
    
    .nav_link:hover{
        color:rgb(115,177,221);
        text-decoration: underline;
    }
}
